apiVersion: v1
kind: ConfigMap
metadata:
  name: hadoop-conf
data:
  core-site.xml: |
    <?xml version="1.0"?>
    <configuration>
      <property>
        <name>fs.defaultFS</name>
        <value>hdfs://172.30.1.29:8020</value>
        <description>HDFS를 기본 파일 시스템으로 사용</description>
      </property>
      <property>
        <name>hadoop.tmp.dir</name>
        <value>/tmp/hadoop-${user.name}</value>
        <description>Hadoop이 작업 중 임시 파일을 저장하는 기본 디렉토리</description>
      </property>
    </configuration>
  hdfs-site.xml: |
    <?xml version="1.0"?>
    <configuration>
      <property>
        <name>dfs.replication</name>
        <value>1</value>
        <description>파일의 기본 복제 수
        </description>
      </property>
      <property>
        <name>dfs.namenode.name.dir</name>
        <value>file:///hadoop/dfs/name
        </value>
        <description>NameNode가 메타데이터와 편집 로그를 저장하는 경로
        </description>
      </property>
      <property>
        <name>dfs.datanode.data.dir</name>
        <value>file:///hadoop/dfs/data</value>
        <description>DataNode가 실제 데이터 블록을 저장하는 경로</description>
      </property>
    </configuration>
